<ion-view title="image" id="page7">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div ng-init="videourl=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="image-video1">
      <iframe src="{{videourl}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" id="image-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="image-slide24" style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="image-slide25" style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="image-slide26" style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>