<ion-view title="ข้อมูลผู้ใช้" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="page4-button1" class="button button-positive  button-block icon ion-android-camera">Tap me!</button>
    <form id="page4-form1" class="list">
      <label class="item item-input" id="page4-input1">
        <span class="input-label">name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page4-input2">
        <span class="input-label">lastname</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page4-input4">
        <span class="input-label">phone</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="page4-input3">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="page4-input5">
        <span class="input-label">อายุ</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="page4-input6">
        <span class="input-label">วันเกิด</span>
        <input type="date" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>